<div class="row py-3 h6 table-responsive d-flex justify-content-center" style="height: 70vh;overflow: auto;min-height: 500px;">
    <div class="h4">Consultas historicas de cálculo de distancia</div>
    <table id="history" class="table table-hover small col-10">
    </table>
</div>
<script src="/static/js/history.js"></script>
