<div>
    <input type="text" name="origin" id="origin" placeholder="Origen">
    <input type="text" name="destination" id="destination" placeholder="Destino">
    <button name="distance" id="distance">
</div>
